
body{
    margin: 0;
    padding: 0;
}
.Navigation{
    background-color: #1f2937;
}

.Header{
    display: flex;
    padding-top: 20px;
}
.header-left,.header-right{
    display: flex;
    justify-content: center;
    width: 50%;
}
.header-left{
    font-size: 24px;
    color: #f9faf8;
}
.header-right{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.Hero{
    display: flex;
    padding: 50px;
}

.hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.hero-left{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.text{
    
    max-width: 260px;
    padding: 0;
    margin: 0;
    margin-left: 70px;
}

.title{
    text-align: center;
}

.Down{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
.infoP{
    font-size: 10px;
    max-width: 100px;
}
.frame{
    height: 80px;
    width: 80px;
    border: 2px solid #3882f6;
    border-radius: 20%;
}
.Inspiring{
    background: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Quote{
    max-width: 500px;
}
.author{
    margin-left: 25%;
}